nav {
    background-color: #ff0000;
}

header {
    background-color: red;
}

section {
    background-color: blue;
}

aside {
    background-color: black;
}

footer {
    background-color: blueviolet;
}